template(name="dash")
  .dashboard-container
    .diagnosis
      +reactiveTable collection=diseases settings=tableSettings
      .features
        each features
          .label(style="background-color:#{color}")
            if selected
              | &#10004;&nbsp;#{this}
            else
              | #{this}
    .pane-container
      .pane
        +graph
      .pane
        +correlation
      .pane
        +dendrogram
      .pane
        +timeline
