template(name="dash")
  div(style="display:none") #{updatePanes}
  .dashboard-container
    .diagnosis
      +reactiveTable collection=diseases settings=tableSettings
      a.btn.btn-default(href='/symptomTable/#{diagnosisId}') Detailed diagnosis
      .features
        if showCategory 'symptom'
          .feature-section.symptoms
            h4 Symptoms
            each keywords
              if hasCategory categories 'symptom'
                .label(style="background-color:{{color}}") #{name}
        if showCategory 'host'
          .feature-section.hosts
            h4 Hosts
            each keywords
              if hasCategory categories 'host'
                .label(style="background-color:{{color}}") #{name}
        if showCategory 'pathogen'
          .feature-section.pathogens
            h4 Pathogens
            each keywords
              if hasCategory categories 'pathogen'
                .label(style="background-color:{{color}}") #{name}
        if showCategory 'transmi'
          .feature-section.transmission
            h4 Modes of Transmission
            each keywords
              if hasCategory categories 'transmi'
                .label(style="background-color:{{color}}") #{name}
        if showCategory 'datetime'
          .feature-section.dates
            h4 Dates
            each features
              if eq type "datetime"
                .label #{formatDate}
        if showCategory 'caseCount'
          .feature-section.case-counts
            h4 Case Counts
            each features
              if eq type "caseCount"
                .label #{text}
        if showCategory 'deathCount'
          .feature-section.death-counts
            h4 Death Counts
            each features
              if eq type "deathCount"
                .label #{text}
        if showCategory 'cluster'
          .feature-section.locations
            h4 Locations
            each features
              if eq type "cluster"
                each locations
                  .label.location #{formatLocation}
    .pane-container
      .pane
        +geomapSimple
      .pane
        +timelineSimple
      .pane
        +dendrogram
      .pane
        +text
