template(name="dash")
  div(style="display:none") #{updatePanes}
  unless ready
    .loading-message
      +spinner
      h1 Please wait...
  .dashboard-container
    .left-panel.diagnosis
      .btn-group.btn-group-justified(style="margin-top:5px;")
        a.btn.btn-default(href='/search?diagnosisId=#{_id}') Find Similar Articles
      h4 Diagnosis
        span.btn-group.btn-group-xs(style="float:right;")
          a.btn.btn-default(href='/symptomTable/#{_id}') Detailed diagnosis
          a.btn.btn-default.open-feedback Feedback
      +reactiveTable collection=diseases settings=tableSettings
      +feedback
      .features
        each keywordCategories
          if showCategory pattern ../features
            .feature-section
              h4(class=pattern) #{label}
              each ../features
                if eq type ../pattern
                  .label(id="{{getIdKey}}", style="background-color:{{color}}; box-shadow: 0px 0px 0px 2px {{color}}", pillColor=color) #{value}
        if showCategory 'datetime'
          .feature-section.dates
            h4.datetime Dates
            each features
              if eq type "datetime"
                .label(id="{{getIdKey}}", style="background-color:{{color}}; box-shadow: 0px 0px 0px 2px {{color}}", pillColor=color) #{formatDate}
        if showCategory 'location'
          .feature-section.locations
            h4.location Locations
            each features
              if eq type "location"
                .label(id="{{getIdKey}}", style="background-color:{{color}}; box-shadow: 0px 0px 0px 2px {{color}}", pillColor=color, value=name) #{formatLocation}
    .pane-container
      .pane.minimized
        +geomapSimple
      .pane.minimized
        +timelineSimple
      //-.pane
      //-  +dendrogram
      .pane.maximized
        +text
