template(name="dash")
  .dashboard-container
    .diagnosis
      +reactiveTable collection=diseases settings=tableSettings
      .features
        .feature-section.keywords
          h4 Keywords
          each diseases
            if selected
              each keywords
                .label(style="background-color:#{color name}")
                  p keyword: #{name}
                  p categories:
                  each categories
                    .category #{this}
        .feature-section.dates
          h4 Dates
          each features
            if isDate
              .label #{parseDate}
        .feature-section.case-counts
          h4 Case Counts
          each features
            if eq type "caseCount"
              div
                p value: #{value}
                p text: #{text}
        .feature-section.case-counts
          h4 Death Counts
          each features
            if eq type "deathCount"
              div
                p value: #{value}
                p text: #{text}
        .feature-section.locations
          h4 Locations
          each features
            if eq type "cluster"
              each locations
                .location #{name}
    .pane-container
      .pane
        +geomap
      .pane
        +correlation
      .pane
        +dendrogram
      .pane
        +timeline
      .pane
        +graph
      .pane
        +text
