template(name="dash")
  div(style="display:none") #{updatePanes}
  unless ready
    .loading-message
      +spinner
      h1 Please wait...
  .dashboard-container
    .left-panel.diagnosis
      .btn-group.btn-group-justified(style="margin-top:5px;")
        a.btn.btn-default(href='/search?diagnosisId=#{_id}') Find Similar Articles
      h4 Diagnosis
        span.btn-group.btn-group-xs(style="float:right;")
          a.btn.btn-default(href='/symptomTable/#{_id}') Detailed diagnosis
          a.btn.btn-default.open-feedback Feedback
      +reactiveTable collection=diseases settings=tableSettings
      +feedback
      .features
        if showCategory 'symptom'
          .feature-section.symptoms
            h4 Symptoms
            each keywords
              if hasCategory categories 'symptom'
                .label(style="background-color:{{color}}") #{name}
        if showCategory 'host'
          .feature-section.hosts
            h4 Hosts
            each keywords
              if hasCategory categories 'host'
                .label(style="background-color:{{color}}") #{name}
        if showCategory 'pathogen'
          .feature-section.pathogens
            h4 Pathogens
            each keywords
              if hasCategory categories 'pathogen'
                .label(style="background-color:{{color}}") #{name}
        if showCategory 'transmi'
          .feature-section.transmission
            h4 Modes of Transmission
            each keywords
              if hasCategory categories 'transmi'
                .label(style="background-color:{{color}}") #{name}
        if showCategory 'datetime'
          .feature-section.dates
            h4 Dates
            each features
              if eq type "datetime"
                .label #{formatDate}
        if showCategory 'caseCount'
          .feature-section.case-counts
            h4 Case Counts
            each features
              if eq type "caseCount"
                .label.caseCount #{value}
        if showCategory 'deathCount'
          .feature-section.death-counts
            h4 Death Counts
            each features
              if eq type "deathCount"
                .label.deathCount #{value}
        if showCategory 'hospitalizationCount'
          .feature-section.hospitalization-counts
            h4 Hospitalization Counts
            each features
              if eq type "hospitalizationCount"
                .label.hospitalizationCount #{value}
        if showCategory 'location'
          .feature-section.locations
            h4 Locations
            each features
              if eq type "location"
                .label.location #{formatLocation}
    .pane-container
      .pane.minimized
        +geomapSimple
      .pane.minimized
        +timelineSimple
      //-.pane
      //-  +dendrogram
      .pane.maximized
        +text
