template(name="dash")

  .dashboard-container
    .diagnosis
      .controls
        a.nav-btn(href="https://grits.ecohealth.io/gritsdb")
          //I would use fa-database but it's not working.
          i.fa.fa-hdd-o
          p Girder DB
        a.nav-btn(href="/new")
          i.fa.fa-file-text-o.fa-file-text-o-large
          p Diagnose New Article
        .nav-btn.reset-panels
          i.fa.fa-th-large.fa-th-large
          p Reset Panels
      +reactiveTable collection=diseases settings=tableSettings
      .features
        .feature-section.keywords
          h4 Keywords
          each features
            if isKeyword
              .label(style="background-color:#{color}")
                if selected
                  | &#10004;&nbsp;#{value}
                else
                  | #{value}
        .feature-section.dates
          h4 Dates
          each features
            if isDate
              .label #{parseDate}
        .feature-section.case-counts
          h4 Case Counts
          each features
            if isCaseCount
              .label #{value} cases
    .pane-container
      .pane
        +geomapSimple
      .pane
        +timelineSimple
      .pane
        +dendrogram
      .pane
        +text
