template(name="dash")
  unless ready
    .loading-message
      +spinner
      h1 Please wait...
  else
    if error
      .loading-message
        h2 There was an error processing this diagnosis.
        a.btn.btn-default.rediagnose Retry
  .dashboard-container
    .left-panel.diagnosis
      .btn-group.btn-group-justified(style="margin-top:5px;")
        a.btn.btn-default(href='/searchGirder?diagnosisId=#{_id}') Find Similar Articles
      .btn-group.btn-group-justified(style="margin-top:5px;")
        a.btn.btn-default(href='/searchGrid?diagnosisId=#{_id}') Find Similar Disease Emergence Events

      h4 Diagnosis
      +reactiveTable collection=diseases settings=tableSettings
      .btn-group.btn-group-justified.btn-group-sm
        if prevDiagnosisId
          unless prevDiagnosisError
            a.btn.btn-default.prev-diagnosis(href='/dash/#{prevDiagnosisId}') Previous Diagnosis
        if updatedDiagnosisId
          a.btn.btn-default.prev-diagnosis(href='/dash/#{updatedDiagnosisId}') Updated Diagnosis
        else
          a.btn.btn-default.rediagnose Rediagnose
      .btn-group.btn-group-justified.btn-group-sm
        a.btn.btn-default.open-feedback Feedback
      +feedback
      if showKeypoints
        .keypoints
          h4 Key Points
          each keypoints
            .keypoint
              if count
                b Cases:
                if count.approximate
                  | ~
                if count.number
                  | #{count.number}
                if count.range_start
                  | #{count.range_start} - #{count.range_end}
                if count.max
                  | ≤ #{count.max}
                if count.min
                  | ≥ #{count.min}
                if count.death
                  | deaths
                if count.hospitalization
                  | hospitalizations
                br
              if age
                b Age:
                if age.child
                  | Child
                if age.approximate
                  | ~
                if age.number
                  | #{age.number}
                if age.range_start
                  | #{age.range_start} - #{age.range_end}
                if age.max
                  | ≤ #{age.max}
                if age.min
                  | ≥ #{age.min}
                if age.month_units
                  | months old
                else
                  if age.year_units
                    | years old
                br
              if male
                b Sex:
                | male
                br
              if female
                b Sex:
                | female
                br
              if location
                b Location:
                | #{location.name}, {{location/[country code]}}
                br
              if occupation
                b Occupation:
                | #{occupation}
                br
              if symptom
                b Symptom:
                | #{symptom}
                br
              if risk
                b Risk factor:
                | #{risk}
                br
              if host
                b Host:
                | #{host}
                br
              if time
                b Time:
                | #{time.label}
                br
      .features
        each keywordCategories
          if showCategory pattern ../features
            .feature-section
              h4(class=pattern) #{label}
              each ../features
                if eq type ../pattern
                  .label(id="{{getIdKey}}"
                    style="background-color:{{color}};"
                    pillColor=color
                    class="{{featureSelected this}}") #{value}
        if showCategory 'datetime'
          .feature-section.dates
            h4.datetime Dates
            each features
              if eq type "datetime"
                .label(id="{{getIdKey}}"
                  style="background-color:{{color}};"
                  pillColor=color
                  class="{{featureSelected this}}") #{formatDate}
        if showCategory 'location'
          .feature-section.locations
            h4.location Locations
            each features
              if eq type "location"
                .label(id="{{getIdKey}}"
                  style="background-color:{{color}};"
                  pillColor=color
                  value=name
                  class="{{featureSelected this}}") #{formatLocation}
    .pane-container
      .vis-pane-bar
        span.view-select
          | Choose View:
          select#choose-view
            each viewTypes
              if eq useView name
                option(selected value=name) {{label}}
              else
                option(value=name) {{label}}
      .vis-pane
        if eq useView "geomap"
          +geomapSimple
        else if eq useView "timeline"
          +timelineSimple
        else if eq useView "symptomTable"
          +symptomTable
        else
          +text
