template(name="resultList")
  div(class="search-results")
    h4 Search Results:
    each results
      div(class="search-result")
        div
          a(href="#{meta.link}" target="_blank" class="title-link") #{description}
        div
          i {{toDateString meta.date}}
        div
          b HealthMap Disease Label: 
          span #{meta.disease}
        div
          b Diseases Diagnosed:
          span.inline-list
            each meta.diagnosis.diseases
              span #{name}
        div
          b Counts:
          if counts
            span.inline-list
              if counts.cases
                span #{counts.cases} cases
              if counts.deaths
                span #{counts.deaths} deaths
              if counts.hospitalizations
                span #{counts.hospitalizations} hospitalizations
          else
            span No counts identified
        div
          b Distinct Keywords:
          span.inline-list.truncated-list
            each distinctKeywords
              span
                a.add-keyword-link(href="#") #{name}
            else
              span None
        if searchScore
          div
            b Relevance:
            span #{searchScore}
    else
      p No Results Found
              