template(name="searchInput")
  div.search-input
    if itemsSelected
      .search-input-items
        each itemsSelected
          div.search-input-item
            i.fa.fa-times-circle.remove-selection(data-name="{{value}}")
            span {{value}}
    .row
      .col-xs-9.input-wrap
        +inputAutocomplete settings=autocompleteSettings class="form-control input-xlarge add-selection-input"
      .col-xs-2
        button.btn.btn-default(class="add-selection") Add

template(name="selector")
  each itemsInCollection
    div
      i.fa.fa-times-circle.remove-item
      span {{name}}
  .row.space-btn-1
    .col-xs-9.input-wrap
      input.input-xlarge.form-control
    .col-xs-2
      button.add-item.btn.btn-default Add

template(name="searchPill")
  span(class="sp-label") {{_id}}
  span(class="sp-categories")
    each value.categories
      span(class="sp-category") [{{this}}]

template(name="searchAggregations")

  h4 In one of these countries:
  .left-panel-block
    +selector collection=selections.CountriesSelected
    div
      b Approximate Document Counts:
    each aggregations.countries.buckets
      .document-count
        span.count-bar(style="width: {{percentage doc_count ../totalResults}}%;")
        .count-text
          a.add-country-filter(href="#" data-name="{{key}}") {{key}}
          span : {{doc_count}} reports

  h4 In the date range:
  .left-panel-block
    .form-inline
      .form-group
        label.date-label Start
        input.date-selector.from-date.form-control(type="date" value="{{fromDate}}")
      .form-group
        label.date-label End
        input.date-selector.to-date.form-control(type="date" value="{{toDate}}")
    div
      b Approximate Document Counts:
    each aggregations.dates.buckets
      if doc_count
        .document-count
          span.count-bar(style="width: {{percentage doc_count ../totalResults}}%;")
          .count-text
            a.set-date(href="") {{../formatDateRange from to}}
            | : {{doc_count}} reports


template(name="search")
  .dashboard-container
    .left-panel.search-sidebar
      h3 Find #{label} with...

      h4 Any of these diseases:
      .left-panel-block
        +searchInput selected=selections.DiseasesSelected autocompleteCollection=diseaseNames restrictToAutocomplete="true"

      h4 Any of these keywords:
      .left-panel-block
        +searchInput selected=selections.AnyKeywordsSelected autocompleteCollection=keywords

      h4 All of these keywords:
      .left-panel-block
        +searchInput selected=selections.AllKeywordsSelected autocompleteCollection=keywords

      +searchAggregations totalResults=totalResults selections=selections fromDate=fromDate toDate=toDate formatDateRange=formatDateRange aggregations=aggregations


    .pane-container.search
      .vis-pane-bar
        if numResults
          span
            | Page {{pageNum}}
            a(href="").prev-page Previous
            | -
            a(href="").next-page Next
          span | {{numResults}} of {{totalResults}} Results
        else
          span No Results
        span.view-select
          | | Sorted By:
          if eq sortMethods.length 1
            each sortMethods
              span {{label}}
          else
            select#sort-by
              each sortMethods
                if eq sortBy name
                  option(selected value=name) {{label}}
                else
                  option(value=name) {{label}}
        span.view-select
          unless eq viewTypes.length 1
            | | View:
            select#choose-view
              each viewTypes
                if eq useView name
                  option(selected value=name) {{label}}
                else
                  option(value=name) {{label}}
      .vis-pane
        if searching
          p Searching...
        else if eq useView "listView"
          +Template.dynamic template=resultListTemplate data=resultListData
        else if eq useView "mapView"
          +geomapSimple
        else if eq useView "dateGroupView"
          +dateGroups
        else if eq useView "locationGroupView"
          +locationGroups
        else if eq useView "diseaseGroupView"
          +diseaseGroups
