template(name="searchGirder")
  +search type="girder" label="articles" sortMethods=sortMethods viewTypes=viewTypes selections=selections createQuery=createQuery doQuery=doQuery aggregationKeys=aggregationKeys dateAggregationRanges=dateAggregationRanges diagnosis=diagnosis




