template(name="searchInput")
  each selected
    div
      i.fa.fa-times-circle(data-name="{{name}}" class="remove-{{../type}}" style="color:crimson;")
      span {{name}}
  +inputAutocomplete settings=autocompleteSettings id=autocompleteId class="input-xlarge"
  button(id="add-#{type}") Add

template(name="selector")
  each itemsInCollection
    div
      i.fa.fa-times-circle.remove-item(style="color:crimson;")
      span {{name}}
  div
    input.input-xlarge
    button.add-item Add

template(name="searchPill")
  span(class="sp-label") {{_id}}
  span(class="sp-categories")
    each value.categories
      span(class="sp-category") [{{this}}]
      
template(name="search")
  .dashboard-container
    .left-panel.search-sidebar
      h3 Find #{label} with...

      h4 Any of these diseases:
      +searchInput type="disease" selected=diseasesSelected autocompleteCollection=diseaseNames autocompleteId="new-disease"

      h4 Any of these keywords:
      +searchInput type="any-keyword" selected=anyKeywordsSelected autocompleteCollection=keywords autocompleteId="new-any-keyword"

      h4 All of these keywords:
      +searchInput type="all-keyword" selected=allKeywordsSelected autocompleteCollection=keywords autocompleteId="new-all-keyword"

      unless eq type "grid"
        +searchAggregations totalResults=totalResults

    .pane-container
      .vis-pane-bar
        if numResults
          span
            | Page {{pageNum}}
            a(href="").prev-page Previous
            | -
            a(href="").next-page Next
          span | {{numResults}} of {{totalResults}} Results
        else
          span No Results
        span.view-select
          | | Sorted By:
          if eq sortMethods.length 1
            each sortMethods
              span {{label}}
          else
            select#sort-by
              each sortMethods
                if eq sortBy name
                  option(selected value=name) {{label}}
                else
                  option(value=name) {{label}}
        span.view-select
          | | View:
          if eq viewTypes.length 1
            each viewTypes
              span {{label}}
          else
            select#choose-view
              each viewTypes
                if eq useView name
                  option(selected value=name) {{label}}
                else
                  option(value=name) {{label}}
      .vis-pane
        if searching
          p Searching...
        else if eq useView "listView"
          if eq type "grid"
            +gridResultList results=results
          else
            +resultList
        else if eq useView "mapView"
          +geomapSimple
        else if eq useView "dataGroupView"
          +dateGroups
        else if eq useView "locationGroupView"
          +locationGroups
        else if eq useView "diseaseGroupView"
          +diseaseGroups